---
import Layout from '../layouts/Layout.astro';
import RichText from '../components/RichText.astro';
import { fetchContactData } from '../utils/strapi';

const contactData = await fetchContactData();
---

<Layout title="Contact - Portfolio" description="Contactez-moi pour discuter de votre projet ou pour toute question">
  <div class="grid grid-cols-8 md:grid-cols-12 gap">
    <div class="relative col-span-7 md:col-span-11 !col-start-2">
      <!-- Mes Compétences -->
      <section class="absolute left-0 top-0 w-full p-[2rem]">
        <div class="flex items-center justify-center max-d:justify-between md:gap-[8.6rem]">
          {contactData?.Github && (
            <a href={contactData.Github} target="_blank" rel="noopener noreferrer" class="ts-body">
              Github
            </a>
          )}
          {contactData?.Twitter && (
            <a href={contactData.Twitter} target="_blank" rel="noopener noreferrer" class="ts-body">
              Twitter
            </a>
          )}
          {contactData?.Linkedin && (
            <a href={contactData.Linkedin} target="_blank" rel="noopener noreferrer" class="ts-body">
              Linkedin
            </a>
          )}
        </div>
      </section>
      
      {contactData?.Titre && (
        <!-- Mon Parcours -->
        <section class="flex flex-col items-center justify-center w-full h-dvh">
          <div class="text-center">
            <RichText content={contactData.Titre} tag="h1" class="ts-big" />
          </div>
        </section>
      )}
      
      {contactData?.Email && (
        <section class="absolute left-0 bottom-0 w-full p-[2rem] text-center">
          <a href={`mailto:${contactData.Email}`} class="ts-body w-max">
            {contactData.Email}
          </a>
        </section>
      )}
    </div>
  </div>
</Layout> 